.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
*.project
.settings/*
.vscode/*
/target/*
/target/
/target
/bin
log/*
log
/log
logs/*
logs
/logs
.DS_Store
dependency-reduced-pom.xml
frontend/node_modules
frontend/dist
*.exe
*/static/*
static/*
artifacts/**
*/artifacts/*
backend.db
__pycache__/
*.pyc
.next
node_modules
dist
